html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
    background-color: #ADBDA3;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

main > * {
    grid-column: 2;
}

.heading {
    text-align: center;
}

.title {
    margin-bottom: 0px;
    font-size: 2rem;
}

.description {
    font-size: 1.2rem;
    font-style: italic;   
    margin-top: 0.125rem;
}

#survey-form {
    padding: 2rem;
    background-color: #144954;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

/*all input type but not radio and checkbok*/
input:not([type="radio"]):not([type="checkbox"]), textarea, select {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif; 
    font-size: 0.9rem;
}

button {
    display: block;
    width: 100%;
    padding: 0.625rem;
    border: none;
    background-color: green;
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

input[type="checkbox"], input[type="radio"] {
    transform: scale(1.5);
    margin-right: 0.625rem;
}

select, textarea {
    font-size: 0.9rem;
}

label[for="dropdown"], label[for="comments"] {
    margin-top: 1.25rem;
}

@media screen and (max-width: 840px) {
    main {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 50px 1fr 50px;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
    
    main > * {
        grid-column: 1 / -1;
    }
}